body {
    background-color: #A9EAFE;
    background: linear-gradient(180deg, #74d0f1, #007FFF, #22427C, #03224C);
    background-size: 200% 300%;
    height: 100vh;
}


header {
    width: 90%;
    height: 15%;
    background-color: #0055A4;
    font-family: Magneto;
    font-size: initial;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px 4px;
    margin: 2%;
    padding-top: 10px;
}

.miseenpageglobale {
    display: flex;
}

.infoglobale {
    width: 30%;
    height: 15%;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 2%;
}

.infoglobale:hover {
    background-color: #8D948D;
}

.photo {
    width: calc(100% / 4 - 60px);
}

.photo img {
    height: 350px;
}

.jsp {
    width: 30%;
    height: 15%;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding:2%;
}

.jsp:hover {
    background-color: #8D948D;
}

#bot {
    display: flex;
    align-items: flex-start;
    flex-basis: 30%;
    justify-content: space-around;
    margin-top: 10px;
}

#mid{
    display:flex;
    align-items: flex-start;
    flex-basis: 30%;
    justify-content: space-around;
    margin-top: 10px;
}

#top {
    display: flex;
    align-items: flex-start;
    flex-basis: 30%;
    justify-content: space-around;
    margin-top:10px;
}

.infodeta {
    width: 28%;
    height: 15%;
    background-color: #FFFFFF;
    padding: 2%;
}

.infodeta:hover {
    background-color: #8D948D;
}

.monparcours {
    width: 28%;
    height: 15%;
    background-color: #FFFFFF;
    padding: 2%;
}

.monparcours:hover {
    background-color: #8D948D;
}

.choixbut {
    width: 28%;
    height: 15%;
    background-color: #FFFFFF;
    padding: 2%;
}

.choixbut:hover {
    background-color: #8D948D;
}

.chosesfaites {
    width: 28%;
    height: 15%;
    background-color: #FFFFFF;
    padding: 2%;
}

.chosesfaites:hover {
    background-color: #8D948D;
}

.projetpro {
    width: 28%;
    height: 15%;
    background-color: #FFFFFF;
    padding: 2%;
}

.projetpro:hover {
    background-color: #8D948D;
}

.hobbies {
    width: 28%;
    height: 15%;
    background-color: #FFFFFF;
    padding: 2%;
}

.hobbies:hover {
    background-color: #8D948D;
}

.logo {
    margin-left:45%;
}

.logo img {
    width:150px;
}

/*-------------------------------------------------------*/

.header {
    text-decoration:underline;
    font-size: 1.6em;
}

nav > a {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 5 -30 px);
    text-align: center;
    margin-top:10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

#topp {
    display: flex;
    align-items: flex-start;
    flex-basis: 40%;
    justify-content: space-around;
    margin-top: 10px;
}

#middle {
    display: flex;
    align-items: flex-start;
    flex-basis: 40%;
    justify-content: space-around;
    margin-top: 10px;
}

#bottom {
    display: flex;
    align-items: flex-start;
    flex-basis: 40%;
    justify-content: space-around;
    margin-top: 10px;
}

.titre{
    padding-left:25%;
    text-decoration: underline;
    font-family:Calibri;
    font-size:1.2em;
}

.ssbloc1 {
    width: 33%;
    height: 30%;
    font-family:Calibri;
    border: 2px solid black;
    border-radius: 3px 4px;
    padding: 15px;
}

.marinehist {
    display: flex;
    align-items: flex-start;
    flex-basis: 40%;
    justify-content: space-around;
    margin-top: 10px;
}

#para {
    width: 33%;
    height: 30%;
    font-family: Calibri;
    border: 2px solid black;
    border-radius: 3px 4px;
    padding: 15px;
}

/*ACCEUIL BATIMENTS DE LA MARINE NATIONALE*/

.gbloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blocdefbat {
    width: 33%;
    height: 30%;
    border: 2px solid black;
    border-radius: 3px 4px;
}

.blocdef:hover {
    background-color: whitesmoke;
}

.lesdifferentsbatiments {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 3px 4px;
    margin-top: 5%;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.2%;
}


/*AERO*/

.aeronaval {
    background-color: #A9EAFE;
    background: linear-gradient(180deg, #74d0f1, #007FFF, #22427C, #03224C);
    background-size: 200% 650%;
    height: 100vh;
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-family: Calibri;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0.2%;
}

.b10 {
    width: 50%;
    height: 70%;
    display: initial;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left:25%;
    margin-right:25%;
}

.bloque:hover {
    background-color: #8D948D;
}

.bloque {
    width: 40%;
    height: 10%;
    border: 2px solid black;
    border-radius: 3px 4px;
    padding: 5px;
    margin-top:15%;
    margin-left: 30%;
}

#mef {
    text-align:justify;
    font-family: Calibri;
}

.photopa {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top:15%;
}

.photopa img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photoph {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photoph img {
     height: 500px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.photora {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photora img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photoe2c {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photoe2c img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photope {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photope img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*FAN*/

.surfaciques {
    background-color: #A9EAFE;
    background: linear-gradient(180deg, #74d0f1, #007FFF, #22427C, #03224C);
    background-size: 200% 1000%;
    background-repeat: no-repeat;
    height: 100vh;
}

.photofremm {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofremm img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photofremmda {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofremmda img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photofda {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofda img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photofdi {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofdi img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photoflf {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photoflf img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photofasm {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofasm img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photofaa {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofaa img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photofs {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photofs img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*FOST*/

.bloque1 {
    width: 50%;
    height: 25%;
    border: 2px solid black;
    border-radius: 3px 4px;
    padding: 5px;
    margin-top: 15%;
    margin-left: 25%;
}

.sousmarins {
    background-color: #A9EAFE;
    background: linear-gradient(180deg, #74d0f1, #007FFF, #22427C, #03224C);
    background-size: 200% 350%;
    background-repeat: no-repeat;
    height: 100vh;
}

.photosna {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photosna img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photosnle {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photosnle img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*SOUTIENS*/

h4 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-family: Calibri;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
}

.ravicmt {
    background-color: #A9EAFE;
    background: linear-gradient(180deg, #74d0f1, #007FFF, #22427C, #03224C);
    background-size: 200% 300%;
    background-repeat: no-repeat;
    height: 100vh;
}

.photocassiopee {
    display: flex;
    align-items: center;
    max-height: 300px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.photocassiopee img {
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photosomme {
    display: flex;
    align-items: center;
    max-height: 300px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.photosomme img {
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*SCIENTIFIQUES*/

.scientifiques {
    background-color: #A9EAFE;
    background: linear-gradient(180deg, #74d0f1, #007FFF, #22427C, #03224C);
    background-size: 200% 800%;
    background-repeat: no-repeat;
    height: 100vh;
}

.photobem {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photobem img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photobh {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photobh img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photobho {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photobho img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photobsp {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photobsp img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photoddl {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photoddl img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photolpqp {
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 15%;
}

.photolpqp img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


